/* -------------
    GENERAL
------------- */
* {
    font-family: 'Orbitron', sans-serif!important;
}

html {
    background: black;
}

h1 {
    font-size: 65px;
}

p {
    color: #b7b7b7;
    margin-bottom: 0;
}


/* -------------
    HEADER
------------- */

/* Nav */
.uk-navbar {
    background: black;
}
.uk-navbar-nav a {
    color: #fe9246!important;
}

/* Compteur */
.uk-height-large.uk-background-cover.uk-light.uk-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uk-grid-column-small, .uk-grid-small {
    margin-bottom: 85px;
    margin-left: 0;
}

.uk-countdown-number {
    font-size: 5rem;
}

/* -------------
    PRENSENTATION
------------- */
.uk-section.uk-light.uk-background-cover {
    background: #070707;
}

img.spacex.uk-first-column {
    width: 350px;
}


/* -------------
    TIMELINE
------------- */

.uk-timeline .uk-timeline-item .uk-card {
	max-height: 300px;
}
.uk-timeline .uk-timeline-item {
    display: flex;
    position: relative;
}
.uk-timeline .uk-timeline-item::before {
    background: #0e0e0e;
    content: "";
    height: 100%;
    left: 29px;
    position: absolute;
    top: 20px;
    width: 1px;
	z-index: -1;
}
.uk-timeline .uk-timeline-item .uk-timeline-icon .uk-badge {
	margin-top: 20px;
    width: 60px;
    height: 40px;
}
.uk-timeline .uk-timeline-item .uk-timeline-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 0 0 1rem;
}

.uk-badge {
    background: #0e0e0e;
}

.uk-card-header {
    background: transparent;
}

.uk-card-body {
    background: transparent;
}
.uk-card-default .uk-card-title {
    color: #a9a9a9;
}
.uk-card-default .uk-card-header {
    border-bottom: none!important;
}
.uk-timeline {
    padding: 10px;
}
h3.uk-card-title.uk-first-column {
    font-size: 27px;
    text-shadow: 1px 1px 20px #fe9246;
}
.uk-label-success {
    background: #fe9246;
    color: black;
    font-weight: 500;
}
svg {
    color: #fe9145;
}

.uk-card-default {
    background: transparent;
}
.uk-timeline .uk-timeline-item .uk-card {
    max-height: 900px;
}
h3.uk-grid-margin.uk-first-column {
    text-shadow: 1px 1px 20px #fe9246;
    color: #a9a9a9;
}

.link {
    color: #fe9246;
}

ul {
    list-style: none;
}
*+.uk-grid-margin-small, .uk-grid+.uk-grid-row-small, .uk-grid+.uk-grid-small, .uk-grid-row-small>.uk-grid-margin, .uk-grid-small>.uk-grid-margin {
    margin-top: 7px;
}

.description {
    color: #666;
}

p.uk-grid-margin.uk-first-column {
    line-height: 1.8;
}

.marge {
    margin-top: 30px;
}

ol, ul {
    padding-left: 0;
}

.uk-h3, h3 {
    text-shadow: 1px 1px 20px #fe9246;
    color: #a9a9a9;
}

.uk-link, a {
    color: #fe9246!important;
}


/* -------------
    SLIDER
------------- */
#navette-1 {
    background-image: linear-gradient(257deg, rgb(255 105 0 / 60%) 0%, rgb(255 79 0 / 60%) 100%),
                  url("images/navette-2.png");
    background-size: 100%;
}

#navette-2 {
    background-image: linear-gradient(257deg, rgb(255 105 0 / 60%) 0%, rgb(255 79 0 / 60%) 100%),
                  url("images/navette-1.png");
    background-size: 100%;
}

#navette-3 {
    background-image: linear-gradient(257deg, rgb(255 105 0 / 60%) 0%, rgb(255 79 0 / 60%) 100%),
                  url("images/navette-3.png");
    background-size: 100%;
}
.title-h2 {
    color: black!important;
    font-size: 56px;
    font-weight: 700;
}

.p-slider {
    color: black;
    margin-bottom: 9px;
}


/* -------------
    SLIDER
------------- */
.hidden {
  opacity:0;
}
.console-container {
  font-size:4em;
  font-weight: 600;
  text-align:center;
  color:white;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}


/* -------------
    FOOTER
------------- */
#videoMessage2 { position: absolute; top: 0; left: 0;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center; 
width: 100%;
height: 100%;}

div#videoMessage2 img {
    width: 900px;
    position: absolute;
    bottom: 0;
}
div#videoMessage2 h2 {
    position: absolute;
    top: 130px;
    color: white;
}

div#videoMessage2 h1 {
    position: absolute;
    top: 60px;
    color: white;
}

.console-container {
    position: absolute;
    top: 55px;
}

.uk-height-large {
    height: 600px;
}

.min-footer {
    background: black;
}

.min-footer {
    padding: 20px;
    text-align: center;
}

a.capitaine {
    color: black!important;
    font-weight: 900;
}




